sphinx>=6.1.3
docutils>=0.19
nbsphinx
sphinx_gallery
sphinx-togglebutton
pydata_sphinx_theme
sphinxcontrib-images
sphinxcontrib-video
numpydoc
pydata_sphinx_theme
myst_parser
sphinx-copybutton
sphinx-inline-tabs
